.button1 {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: rem(15px);
    cursor: pointer;
    position: relative;
    display: inline-block;

    &--1 {
        color: $white;
        overflow: hidden;

        &::before {
            content: attr(data-hover);
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: -1;
            padding: rem(20px) rem(30px);
            width: 100%;
            height: 100%;
            background-color: #d5e7fb;
            color: #007aff;
            transform: translateX(-100%);
            transition: transform 0.3s;
        }

        &:hover::before,
        &:focus::before {
            transform: translateX(0%);
        }
    }

    &--1 & {
        &__wrapper {
            padding: rem(20px) rem(30px);
            display: block;

            background-color: #007aff;

            transition: transform 0.3s;
        }
    }

    &--1:hover &,
    &--1:focus & {
        &__wrapper {
            transform: translateX(100%);
        }
    }

    &--2 {
        border: rem(3px) solid #007aff;
        color: #007aff;
        padding: rem(20px) rem(30px);

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #d5e7fb;
            opacity: 0;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s, opacity 0.3s;
        }

        &:hover:after {
            transform: scaleX(90%);
            opacity: 1;
        }

        &:focus:after {
            transform: scaleX(100%);
            opacity: 1;
        }
    }

    &--3 {
        color: $black;
        font-weight: bold;
        padding: rem(20px) rem(30px);
        transition: color 0.3s;

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f2994a;
            transform-origin: center bottom;
            transform: scaleY(0.15);
            transition: transform 0.3s;
        }

        &:hover,
        &:focus {
            color: $white;
        }

        &:hover::after,
        &:focus::after {
            transform: scaleY(0.99);
        }
    }

    &--4 {
        width: rem(154px);
        height: rem(59px);
        padding: rem(20px) rem(30px);
        font-weight: 700;
        color: $black;
        transition: color 0.3s;

        &:hover,
        &:focus {
            color: $white;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 50%;
            transition: transform 0.3s;
        }

        &::before {
            top: 0;
            left: 0;
            background-color: #9534F5;
            transform-origin: left bottom;
            transform: scale(0.6, 0.1);
        }

        &::after {
            bottom: 0;
            right: 0;
            background-color: #FD079B;
            transform-origin: right top;
            transform: scale(0.6, 0.1);
        }

        &:hover::before,
        &:hover::after,
        &:focus::before,
        &:focus::after {
            transform: scale(1);
        }
    }

    &--5 {
        background-color: #f29e0d;
        border: rem(2px) solid #f29e0d;
        padding: rem(25px) rem(60px) rem(25px) rem(120px);
        border-radius: rem(10px);
        color: $white;
        transition: background-color 0.3s;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            line-height: 3;
            font-size: 140%;
            width: rem(60px);
            background: $white;
            color: #fcad26;
            z-index: 2;
            border-radius: rem(10px) 0 0 rem(10px);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M0.333328 13.6667V7.83334H6.16666L3.48583 10.5167C4.41079 11.4625 5.67705 11.997 6.99999 12C9.1162 11.9969 11.0013 10.6618 11.7067 8.66667H11.7217C11.8171 8.39552 11.8893 8.11673 11.9375 7.83334H13.6142C13.1942 11.1666 10.3596 13.6666 6.99999 13.6667H6.99166C5.22396 13.672 3.52763 12.9698 2.28083 11.7167L0.333328 13.6667ZM2.06166 6.16667H0.384995C0.804786 2.83467 3.63749 0.335121 6.99583 0.333301H6.99999C8.76802 0.327644 10.4648 1.02987 11.7117 2.28334L13.6667 0.333301V6.16667H7.83333L10.5183 3.48334C9.5924 2.53637 8.32441 2.00179 6.99999 2C4.88379 2.00313 2.99873 3.33815 2.29333 5.33334H2.27833C2.18213 5.60426 2.1099 5.88311 2.06249 6.16667H2.06166Z' fill='%23f29e0d'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: rem(26px);
        }

        &::after {
            content: "";
            position: absolute;
            width: rem(20px);
            height: rem(20px);
            background: $white;
            z-index: 1;
            left: rem(55px);
            top: 50%;
            margin: rem(-10px) 0 0 rem(-10px);
            transform: rotate(45deg) scale(1);
            transition: transform 0.3s;
        }

        &:hover,
        &:focus {
            background-color: #f58500;
        }

        &:hover::after,
        &:focus::after {
            transform: rotate(45deg) scale(1.3);
        }
    }

    &--6 {
        padding: rem(20px) rem(40px);
        color: #333333;
        border: rem(1px) solid #333333;
        border-radius: rem(8px);
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            right: 0;
            top: 0;
            bottom: 0;
            width: rem(40px);
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='14' viewBox='0 0 8 14' fill='none'%3E%3Cpath d='M1 13L7 7L1 1' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            transform: translateX(rem(40px));
            transition: transform 0.3s;
        }

        &:hover::after,
        &:focus::after {
            transform: translateX(rem(-10px));
        }
    }

    &--6 & {
        &__wrapper {
            display: block;
            transform: translateX(0px);
            transition: transform 0.3s;
        }
    }

    &--6:hover &,
    &--6:focus & {
        &__wrapper {
            transform: translateX(rem(-10px));
        }
    }
}