/**
* Vendors
*/
@import "~normalize.css";


/**
* Abstracts
*/
@import "abstracts/functions";
@import "abstracts/variables";
@import "abstracts/mixins";



/**
* Base
*/
@import "base/fonts";
@import "base/generic";



/*
* Components
*/
//  Пример подключения стилей блоков
@import "blocks/header";
@import "blocks/footer";
@import "blocks/page";
@import "blocks/container";
@import "blocks/button";
@import "blocks/buttons";
@import "blocks/shoes";
@import "blocks/shoes-card";
@import "blocks/shoes2";
@import "blocks/shoes2-card";
@import "blocks/box";
@import "blocks/btn";
@import "blocks/link";
@import "blocks/button1";


